@model IEnumerable<UltraBudget2.Models.Transaction>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Home</h2>

<p>
    <a asp-controller="Transactions" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payee)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Transactions", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", "Transactions", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", "Transactions", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
