@model IEnumerable<UltraBudget2.Models.MasterCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

<p>
    <a asp-action="CreateMasterCategory">Create New Master Category</a>
</p>
<p>
    <a asp-action="CreateSubCategory">Create New Sub Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {
            foreach (var masterCategory in Model)
            {
                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(modelItem => masterCategory.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = masterCategory.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = masterCategory.Id })
                    </td>
                </tr>
                @if (masterCategory.SubCategories.Any())
                {
                    @foreach (var subCategory in masterCategory.SubCategories)
                    {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => subCategory.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = subCategory.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = subCategory.Id })
                    </td>
                </tr>
                    }
                }
            }
        }
    </tbody>
</table>
